

<table border=1 align="left" width = "50%" height = "50%">
  <tr>
    <th>moviename</th>
    <th>language</th>
    <th>yearofrelease</th>
    <th>typeofmovie</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.moviename %></td>
      <td><%= movie.language %></td>
      <td><%= movie.yor %></td>
      <td><%= movie.typeofmovie %></td>
      <td><%= link_to 'Show', movie_path(movie) %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Delete', movie_path(movie),method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<table align="right">
	<tr><td><%= link_to "HOME" , '/welcome/index.html'%></td></tr>
	<tr><td><%= link_to 'New movie', new_movie_path %> </td></tr>
	<tr><td><%= link_to "Customers", controller: "customers" %></td></tr>
	<tr><td><%= link_to 'New customer', new_customer_path %></td><tr>
	<tr><td><%= link_to "Rentals", controller: "rentals" %></td></tr>  
	<tr><td><%= link_to 'New rental', new_rental_path %></td></tr>

</table>
