<%= form_for(@customer) do |f| %> 
 <h1>edit customer</h1> 
<table align="right">
	<tr><td><%= link_to "HOME" , '/welcome/index.html'%></td></tr>
	<tr><td><%= link_to "Movies", controller: "movies" %></td></tr>
	<tr><td><%= link_to 'New movie', new_movie_path %> </td></tr>
	<tr><td><%= link_to "Rental", controller: "rentals" %></td></tr>
	<tr><td><%= link_to 'New customer', new_customer_path %></td><tr>
	<tr><td><%= link_to 'New rental', new_rental_path %></td></tr>

</table>
<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :mobileno %><br>
    <%= f.text_field :mobileno %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  
  <p>
    <%= f.submit 'Save Changes'%>
  </p>


<%end%>
<%= link_to 'Back', customers_path %>

